[submodule "reid-strong-baseline"]
	path = reid-strong-baseline
	url = https://github.com/michuanhaohao/reid-strong-baseline.git
[submodule "sort"]
	path = sort
	url = https://github.com/abewley/sort
