ignore_*
MOTS20_480/*
MOTS20_720/*
MOTS20_1080/*
trained_det2/*
*.so
*/build/*
*.ini
*.eps
*.progress
*.sif
*.mp4
*.jpg
*.png
**/__pycache__/*
*.lprof
*.out
*~
*.mat
*.fig
*.zip
*.7z
*.h5
*.log
*.pdf
*.npz
*.pth
MOT20/*
MOTS/*
*.txt
*.ignore
output/*
scores/*
old/*
*.garbage
train_det2/output/*
*.pdf
*.blg
*.bbl
*.aux
*.epc
*.toc
*.ps
*.dvi
*.gz
reid_files/*
